body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    transition: padding-top 0.5s;
    /* margin: 7px; */
    /* padding: 7px; */
    /* padding-top: 40px; */
}

body.move-to-top {
    padding-top: 50px;
  }

.banner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust the width as needed */
    height: 40%;
    overflow: visible;
    transition: top 0.5s;
  }
  
  
  .scrolling-images {
    display:flex;
    height: 120%;
    width: 120%;
    animation: scroll 45s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-300%); /* Move the images towards the left */
    }
  }
  
  .scrolling-images img {
    flex: 0 0 50%;
    width: 100%;
    height: auto;
    object-fit:cover;
  }

  .move-button {
    position: absolute;
    bottom: -15%;
    left: 10px;
    z-index: 1;
  }

  a{
    position: absolute;
    bottom: -2%;
    left: 10px;
    z-index: 1;
  }
  
  .banner-container.move-to-top {
    top: -18%;
  }

  
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
/* .card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 } */